/* div {
    width: 300px;
    margin: 20vh;
}

input,
select {
    width: 100%;
    padding: 1.5vh;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;

}

textarea {
    resize: none;
    height: 80px;
    width: 300px;
    overflow: auto;
    white-space: pre-wrap;
} */