.document-info-container{
    background-color:#6ec7fa;
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 10vh 10vh; */
    align-self: center;
    margin: 4%;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    overflow-y: auto;
}
   
    .document-label{
        background-color: rgb(12, 133, 194);
        align-items: center;
        padding: 1%;
        padding-left: 37%;
        /* width: 22vh; */
       border-radius: 3px;
        height: 10vh;
        /* display: flex; */
      margin: 5%;
      margin-top: 3%;
        font-size: 30px;
        font-family: Bahnschrift;
        font-weight: 900;
        color: white;
    
    }

    
.document-data{
    padding-left: 30%;
    width: 100vh;
    height: 100vh;

  margin: 5%;
    font-size: 22px;
    font-family: Bahnschrift;
    font-weight: 900;
    margin-left: 0;
    margin-top: 0;
 
}
.profile-image{
    width: 44%;
    height: 50vh;
    border: 2px solid rgb(10, 132, 203);
    box-shadow: 1px 1px 10px 2px rgb(10, 132, 203);
}