.log-container{
    position: fixed;
   top: 10vh;
    width: 100%;
    height: 92vh;
    /* margin: 0; */
  background-color: greenyellow; 
  background-image: url('/src/assets/Dr-A-P-J-Abdul-Kalam-Technical-University-AKTU-Lucknow-.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  z-index: -1;
  left:0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  
}
.log-heading{
    font-size: 37px;
   /* margin-left: 41%; */
   text-align: center;
   /* margin-top: ; */
   font-family: Bahnschrift;
   font-weight: 800;
   color: #000383;
}

.log-box{
    width: 23%;
    height: 82%;
    background-color: #589ad7;
    /* margin-left: 38%; */
    margin-top: 1.6%;
   border-radius: 27px;
   align-self: center;

}
.user-img{
    width: 27%;
    height: 18%;
    margin-left: 37%;
    margin-top: 4%;
}
.input1{
    display: flex;
   flex-direction: column;
   margin-top: 8%;
    margin-left: 3%;
    margin-bottom: 6%;
}

.log-label{
    color: white;
    margin-left:5%;
    font-size: 25px;

}

.log-input{
width: 77%;
margin: 2%;
margin-left: 4%;
padding: 4%;
border-radius:1.3vh;
border: white;
}

.log-btn{
    margin: 4%;
    margin-top: 6%;
    padding: 2%;
    margin-left: 15%;
    width: 68%;
    background-color: #0c6da4;
    color: white;
    font-size: larger;
    border: white;
    border-radius:1.5vh;
    font-family: Bahnschrift;
    font-size: 22px;
}
.log-btn1{
    margin: 4%;
    margin-top: 8%;
    padding: 2%;
    margin-left: 15%;
    width: 68%;
    background-color: #0c6da4;
    color: white;
    font-size: larger;
    border: white;
    border-radius:1.5vh;
    font-family: Bahnschrift;
    font-size: 22px;
}

.nothing{
    height: 1px;
}

.log-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    /* background-color: #07ef2a; */
    background-color: #0c7bbc;
    color: white;
    cursor: pointer;
}  
.log-btn1:hover{
    cursor: pointer;
    transform: scale(1.1);
    /* background-color: #0758ef; */
    background-color: #0c7bbc;
    color: white;
    cursor: pointer;
}    

@media screen and (max-width:1400px) and (min-width:1300px){
    .log-box{
        width: 25%;
        /* height:80%; */
        
    }
}

@media screen and (max-width:1300px) and (min-width:1100px) {
    .log-box{
        width: 30%;
        height:85%;
        
    }
    .log-heading{
        margin-top: -2%;
        /* align-items: center; */
    }
}
@media screen and (max-width:1100px) {
    .log-heading{
        margin-top: -2%;
        /* align-items: center; */
    }
    .log-box{
        
        width: 40%;
        height:85%;
        
    }
    
}

@media screen and (max-width:850px) {
    .log-heading{
        margin-top: -2%;
        /* align-items: center; */
    }
    .log-box{
        
        width: 48%;
        height:85%;
        
    }
    
}

@media screen and (max-width:738px) {
    .log-heading{
        margin-top: -2%;
        /* align-items: center; */
    }
    .log-box{
        
        width: 54%;
        height:80%;
        
    }
    
}@media screen and (max-width:574px) {
    .log-heading{
        margin-top: -2%;
        /* align-items: center; */
    }
    .log-box{
        
        width: 62%;
        height:75%;
        
    }
    
}

@media screen and (max-width:490px) {
    .log-heading{
        margin-top: -2%;
        /* align-items: center; */
    }
    .log-box{
        
        width: 77%;
        height:75%;
        
    }
    
}